<h4><%= region %>
<div class="accordion" id="accordion<%= region %>">
  <% bracket.matchups_by_region(region).each do |matchup| %>
    <% first_matchup_chef = matchup.matchup_chefs.first %>
    <% second_matchup_chef = matchup.matchup_chefs.last %>
    <% first_chef = first_matchup_chef.chef %>
    <% second_chef = second_matchup_chef.chef %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= matchup.id %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= matchup.id %>" aria-expanded="true" aria-controls="collapse<%= matchup.id %>">
          <%= first_matchup_chef.matchup_label %> VS <%= second_matchup_chef.matchup_label %>
        </button>
      </h2>
      <div id="collapse<%= matchup.id %>" aria-labelledby="heading<%= matchup.id %>" data-bs-parent="#accordion<%= region%>">
        <div class="accordion-body">
          <h6>Make your pick</h6>
          <% current_matchup_selection = current_user.matchup_selection(matchup, bracket) %>
          <%= form_with(model: current_matchup_selection) do |form| %>
            <div class="form-check form-check-inline">
              <%= form.radio_button :winner_id, first_chef.id %>
              <%= form.label :winner_id, first_chef.name %>
            </div>
            <div class="form-check form-check-inline">
              <%= form.radio_button :winner_id, second_chef.id %>
              <%= form.label :winner_id, second_chef.name %>
            </div>
            <%= form.submit 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>