<h4><%= region %>
<div class="accordion" id="accordion<%= region %>">
  <% bracket.matchups_by_round_and_region(round_number, region).each do |matchup| %>
    <%= matchup.id %>
    <% first_matchup_chef = matchup.matchup_chefs.first %>
    <% second_matchup_chef = matchup.matchup_chefs.second %>
    <% first_chef = first_matchup_chef.try(:chef) %>
    <% second_chef = second_matchup_chef.try(:chef) %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading<%= matchup.id %>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= matchup.id %>" aria-expanded="true" aria-controls="collapse<%= matchup.id %>">
          <%= first_matchup_chef.present? ? first_matchup_chef.matchup_label : 'TBD' %> VS <%= second_matchup_chef.present? ? second_matchup_chef.matchup_label : 'TBD' %>
        </button>
      </h2>
      <div id="collapse<%= matchup.id %>" aria-labelledby="heading<%= matchup.id %>" data-bs-parent="#accordion<%= region%>"> 
        <div class="accordion-body">
          <% if matchup.winner_id %>
            <% current_matchup_selection = bracket.user.matchup_selection(matchup, bracket) %>
            <h6><%= matchup.winner.name %> was the winner and you scored <%= current_matchup_selection.score %></h6>
          <% elsif first_matchup_chef.present? && second_matchup_chef.present? %> 
            <h6>Make your pick</h6>
            <% current_matchup_selection = bracket.user.matchup_selection(matchup, bracket) %>
            <% if bracket.user == current_user %>
              <%= form_with(model: current_matchup_selection) do |form| %>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :winner_id, first_chef.id, onclick: "handleMatchupClick(this);", "data-matchup-id" => current_matchup_selection.id, "data-bracket-id" => bracket.id %>
                  <%= form.label :winner_id, first_chef.name %>
                </div>
                <div class="form-check form-check-inline">
                  <%= form.radio_button :winner_id, second_chef.id, onclick: "handleMatchupClick(this);", "data-matchup-id" => current_matchup_selection.id, "data-bracket-id" => bracket.id %>
                  <%= form.label :winner_id, second_chef.name %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>