<div class="container">

  <%= render @league %>

  <div class="col-lg-6">
    <%= form_with model: LeagueUser.new, method: :post do |form| %>
      <%= form.hidden_field :league_id, value: @league.id %>
      <%= form.label :email, "Email", class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
      <%= form.submit "Invite User", class: 'btn btn-primary' %>
    <% end %>
  </div>

  <hr> 

  <h3>League Participants</h3>
  <ul class="list-group">
    <% @league.users.each do |user| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <%= user.email %>
          </div>
          <div class="col">
            <% if current_user.league_bracket(@league).present? %>
              <% if user == current_user %>
                <%= link_to 'View my bracket', bracket_path(current_user.league_bracket(@league)), class: 'btn btn-secondary' %>
              <% end %>
            <% else %>
              <%= form_with model: Bracket.new, method: :post do |form| %>
                <%= form.hidden_field :league_id, value: @league.id %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <%= form.submit "Fill our your bracket", class: 'btn btn-secondary' %>
              <% end %>
            <% end %>
          </div>
          <div class="col">
            <% if current_user.league_bracket(@league).present? %>
              <h6>Score: <%= user.league_bracket(@league).score %></h6>
            <% end %>
          </div>
        </div>       
      </li>
    <% end %>
  </ul>
</div>
</br>
</br>
</br>

