<!-- ======= Header ======= -->
<header id="header" class="header sticked d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Food Network - TOC Bracket</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Leagues', leagues_path %></li>
        <li><%= link_to 'Chefs', chefs_path %></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "sign-in" %>
          <% else %>
            <%= link_to 'Sign In', user_session_path, class: "sign-in" %>
          <% end %>    
        </li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<!-- End Header -->